<h1>Update Group From</h1>
<form (ngSubmit)="onSubmit()" #groupForm="ngForm" [ngFormOptions]="{updateOn: 'change'}">

  <div class="form-group row">
    <label class="col-2 col-form-label">Group Name: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="group_name" [(ngModel)]="group.groupName" #group_name="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Tour Name: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="tour_name" [(ngModel)]="group.tourName" #tour_name="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Tour Code: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="tour_code" [(ngModel)]="group.tourCode" #tour_code="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Departure Date: </label>
    <div class="col-10">
      <input class="form-control" type="date" name="departure_date" [(ngModel)]="group.departureDate" #departure_date="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Total Group Credit: </label>
    <div class="col-10">
      <input class="form-control" type="number" name="total_group_credit" [(ngModel)]="group.totalGroupCredit" #total_group_credit="ngModel">
    </div>
  </div>

  <div *ngIf="isMissingFields">
    <h1>Please fill out all fields</h1>
  </div>

  <button type="submit">Submit</button>
</form>
