<h1>Update Passenger Form</h1>

<form (ngSubmit)="onSubmit()" #groupForm="ngForm" [ngFormOptions]="{updateOn: 'change'}">

  <div class="form-group row">
    <label class="col-2 col-form-label">Group Name: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="group_name" placeholder="{{passenger.group_name}}" [(ngModel)]="passenger.group_name"
        #group_name="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Tour Name: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="tour_name" placeholder="{{passenger.tour_name}}" [(ngModel)]="passenger.tour_name"
        #tour_name="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Tour Code: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="tour_code" placeholder="{{passenger.tour_code}}" [(ngModel)]="passenger.tour_code"
        #tour_code="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Departure Date: </label>
    <div class="col-10">
      <input class="form-control" type="date" name="departure_date" placeholder="{{passenger.departure_date}}" [(ngModel)]="passenger.departure_date"
        #departure_date="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Invoice: </label>
    <div class="col-10">
      <input class="form-control" type="number" name="invoice" placeholder="{{passenger.invoice}}" [(ngModel)]="passenger.invoice"
        #invoice="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pax Name: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="pax_name" placeholder="{{passenger.pax_name}}" [(ngModel)]="passenger.pax_name"
        #pax_name="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Payments: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="payments" placeholder="{{passenger.payments}}" [(ngModel)]="passenger.payments"
        #payments="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Balance: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="balance" placeholder="{{passenger.balance}}" [(ngModel)]="passenger.balance"
        #balance="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Due Date: </label>
    <div class="col-10">
      <input class="form-control" type="date" name="due_date" placeholder="{{passenger.due_date}}" [(ngModel)]="passenger.due_date"
        #due_date="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Is Group Leader: </label>
    <div class="col-10">
      <input class="form-control" type="number" name="isGroupLeader" placeholder="{{passenger.isGroupLeader}}" [(ngModel)]="passenger.isGroupLeader"
        #isGroupLeader="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Total Group Credit: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="total_group_credit" placeholder="{{passenger.total_group_credit}}" [(ngModel)]="passenger.total_group_credit"
        #total_group_credit="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Has Group Credit: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="hasGroupCredit" placeholder="{{passenger.hasGroupCredit}}" [(ngModel)]="passenger.hasGroupCredit"
        #hasGroupCredit="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Group Credit Shared: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="group_credit_shared" placeholder="{{passenger.group_credit_shared}}" [(ngModel)]="passenger.group_credit_shared"
        #group_credit_shared="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Group Credit Split: </label>
    <div class="col-10">
      <input class="form-control" type="date" name="group_credit_split" placeholder="{{passenger.group_credit_split}}" [(ngModel)]="passenger.group_credit_split"
        #group_credit_split="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Group Credit AMT: </label>
    <div class="col-10">
      <input class="form-control" type="number" name="group_credit_amt" placeholder="{{passenger.group_credit_amt}}" [(ngModel)]="passenger.group_credit_amt"
        #group_credit_amt="ngModel">
    </div>
  </div>

  <div *ngIf='isMissingField'>
    <h1>Please fill out all fields</h1>
  </div>

  <button type="submit">Submit</button>
</form>
