<h1>Passenger Form</h1>

<form (ngSubmit)="onSubmit()" #groupForm="ngForm" [ngFormOptions]="{updateOn: 'change'}">

  <div class="form-group row">
    <label class="col-2 col-form-label">Name: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="name" [(ngModel)]="passenger.name" #name="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Is Group Leader: </label>
    <div class="col-10">
      <input class="form-control" type="checkbox" name="is_group_leader" [(ngModel)]="passenger.isGroupLeader" #is_group_leader="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Discount Credit: </label>
    <div class="col-10">
      <input class="form-control" type="number" name="discount_credit" [(ngModel)]="passenger.discountCredit" #discount_credit="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Has Split Credit: </label>
    <div class="col-10">
      <input class="form-control" type="checkbox" name="has_split_credit" [(ngModel)]="passenger.hasSplitCredit" #has_split_credit="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Balance: </label>
    <div class="col-10">
      <input class="form-control" type="number" name="balance" [(ngModel)]="passenger.balance" #balance="ngModel">
    </div>
  </div>

  <div *ngIf='isMissingField'>
    <h1>Please fill out all fields</h1>
  </div>

  <button type="submit">Submit</button>
</form>
