<form (ngSubmit)="onSubmit()" #groupForm="ngForm" [ngFormOptions]="{updateOn: 'change'}">

  <div class="form-group row">
    <label class="col-2 col-form-label">Group Name: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="group_name" [(ngModel)]="group.group_name" #group_name="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Tour Name: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="tour_name" [(ngModel)]="group.tour_name" #tour_name="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Tour Code: </label>
    <div class="col-10">
      <input class="form-control" type="text" name="tour_code" [(ngModel)]="group.tour_code" #tour_code="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Departure Date: </label>
    <div class="col-10">
      <input class="form-control" type="date" name="departure_date" [(ngModel)]="group.departure_date" #departure_date="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pax in Group: </label>
    <div class="col-10">
      <input class="form-control" type="number" name="pax_in_group" [(ngModel)]="group.pax_in_group" #pax_in_group="ngModel">
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
