<h3>Group Name: {{group.groupName}}</h3>
<h3>Total Credit: {{group.totalGroupCredit}}</h3>
<h3>Credit Left: </h3>

<h1>Passengers List</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name:</th>
      <th scope="col">Is Group Leader:</th>
      <th scope="col">Discount Credit:</th>
      <th scope="col">Has Split Credit:</th>
      <th scope="col">Balance: </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngIf="passengers">
    <tr *ngFor="let passenger of passengers;">
      <td>
        <button (click)="deletePassenger(passenger.id)">Delete</button>
      </td>
      <td>
        <input class="form-control" type="text" name="name" [(ngModel)]="passenger.name" #name="ngModel">
      </td>
      <td>
        <input class="form-control" type="checkbox" name="is_group_leader" [(ngModel)]="passenger.isGroupLeader" #is_group_leader="ngModel">
      </td>
      <td>
        <input class="form-control" type="number" name="discount_credit" [(ngModel)]="passenger.discountCredit" #discount_credit="ngModel"
          [disabled]="passenger.hasSplitCredit">
      </td>
      <td>
        <input class="form-control" type="checkbox" name="has_split_credit" [(ngModel)]="passenger.hasSplitCredit" #has_split_credit="ngModel">
      </td>
      <td>
        <input class="form-control" type="number" name="balance" [(ngModel)]="passenger.balance" #balance="ngModel">
      </td>
      <td>
        <button (click)="updatePassenger(passenger)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<button (click)="addPassenger()">Add addPassenger</button>
<button (click)="onSubmit()">Submit</button>
