<h1>Passengers List</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">Balance</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Due Date</th>
      <th scope="col">Group Credit amt</th>
      <th scope="col">Group Credit Shared</th>
      <th scope="col">Group Credit Split</th>
      <th scope="col">Group Name</th>
      <th scope="col">Has Group Credit</th>
      <th scope="col">Invoice</th>
      <th scope="col">Is Group Leader</th>
      <th scope="col">Pax Name</th>
      <th scope="col">Payment</th>
      <th scope="col">Total Group Credit</th>
      <th scope="col">Tour code</th>
      <th scope="col">Tour Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let passenger of passengers" (click)="getPassengers()">
      <th scope="row">{{passenger}}</th>
      <td>{{passenger.balance}}</td>
      <td>{{passenger.departure_date}}</td>
      <td>{{passenger.due_date}}</td>
      <td>{{passenger.group_credit_amt}}</td>
      <td>{{passenger.group_credit_shared}}</td>
      <th>{{passenger.group_credit_split}}</th>
      <td>{{passenger.group_name}}</td>
      <td>{{passenger.hasGroupCredit}}</td>
      <td>{{passenger.invoice}}</td>
      <td>{{passenger.isGroupLeader}}</td>
      <td>{{passenger.pax_name}}</td>
      <th>{{passenger.payments}}</th>
      <td>{{passenger.total_group_credit}}</td>
      <td>{{passenger.tour_code}}</td>
    </tr>
  </tbody>
</table>

<button (click)="addPassenger()">Add addPassenger</button>
